<!DOCTYPE html>
<html>
	<head>
		<title>Real-ESRGANc</title>
		<meta name="description" content="Real-ESRGAN">
		<meta name="keyword" content="RESRGAN_Index">
		<meta name="author" content="Gregorio, Manuel, Palmares, Tang">
		<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
		<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/stylesheet.css">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<form action="/file-upload"
      		class="dropzone"
      		id="img-dropzone"></form>
		<div id="display-img-upload"></div>
		<br>
	</body>
</html>