<!DOCTYPE html>
<html>
	<head>
		<title>Real-ESRGAN</title>
		<meta name="description" content="Real-ESRGAN">
		<meta name="keyword" content="RESRGAN_Index">
		<meta name="author" content="Gregorio, Manuel, Palmares, Tang">
		<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/stylesheet.css">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
	</head>
	<body>
		<div>
			<p id="title-base-green" class="title">Real-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
			<p id="title-base-white" class="title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspESRGAN</p>
			<p id="title-outline" class="title">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspESRGAN</p>
		</div>

		<form action="/file-upload" class="dropzone" id="img-upload"></form>
		<script type="module" src="/script.js"></script>
	</body>
</html>