@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat:wght@600&family=Nunito:ital,wght@1,200&family=Zilla+Slab+Highlight:wght@400;700&display=swap');

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}